
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%; /* Generally set the font-size to 100% in the body - you can then change with em in the other areas */
	line-height: 1.7em; /* The line-height property in CSS controls the space between lines of text. It is often set in a unitless value (e.g. line-height: 1.4; ) */
	color: #000000;
}

a {	
	color: #0F4970;
	text-decoration: none;
}

a:hover {	
	color: #0F4970;
	text-decoration: underline;
}

footer {
	clear: both; /* The clear property specifies which side(s) of an element other floating elements are not allowed. */
	margin: 0;
	padding: .5em;
	color: #333333;
	font-variant: small-caps; 
	font-size: .813em;
	text-align: center;
	border-top: 1px dotted #cccccc;
	
	/* background-color: #ddd; */
}

table {
	width: 75%;
	border-style: solid;
	border-width: 3px;
	border-color: #075F8A;
	border-spacing: 3px;
	margin: auto;
	table-layout: auto;
	border-collapse: collapse;
}
th {
	height: 40px;
	font-weight: bold;
}
th, td {
	padding: 2px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	color: #333333;
}


/* Form Styling */
form {
	width: 75%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #075F8A;
	padding: 10px;	
}

legend {
	font-weight: bold;
	text-align: center;
	color: #666666;
	margin-bottom: 5px;
}

label {
	font-weight: bold;
	text-align: center;
}

html { overflow-y: scroll; }


.container{
	width:70% !important;
	font-family: Century Gothic Regular;
}

.brand-logo {
	font-size:40px !important;
	margin-left:10px;
}

#warning{
	font-weight:bold;
	color:red;
	font-family: Arial;
}

.personal_pic{

    width: 10px;
  	height: 200px;
    text-align: center;
    vertical-align: middle;
    padding-left: 200px;
}

.introduction_text{
    float: right;
    width: 33.33%;
    padding: 5px;
    padding-right: 200px;
    display:inline;
}

.thumbnail_photo{
	width: 450px;
  	height: 290px;
  	
  	padding: 40px;
  	float: left;
  	display:inline;

}

.subtitles{
	font-size:25px !important;
	font-weight:bold;
	
	font-family: Arial;
}

.highlighted_name{
	color:#e75480;
	font-weight:bold;
}

.greeting{
	text-align: center;
	font-family: 'Changa', sans-serif;
	padding-top: 10em;
	padding-bottom: 10em;
}
